@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee {
  @apply relative overflow-hidden;
}

.marquee__group {
  @apply inline-block whitespace-nowrap;
  animation: marquee 10s linear infinite;
}

.marquee__group:nth-child(1) {
  animation-delay: -9s;
}

.pixel {
  font-family: var(--font-press-start);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing {
  color: rgb(255, 162, 162, 1);
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: typing 2.8s steps(18, end), blink 0.7s step-end infinite;
}



@layer utilities {
  .bg-grid-pattern {
    background-image: 
      linear-gradient(to right, rgba(250, 168, 205, 0.4) 1px, transparent 1px),
      linear-gradient(to bottom,rgba(250, 168, 205, 0.4) 1px, transparent 1px);
    background-size: 40px 40px;
  }
}